{% extends 'baseBack.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block content %}
    <h1>Résultats de la recherche</h1>

    {% if recompenses is not empty %}
        <ul>
            {% for recompense in recompenses %}
                <li>Équipe gagnante : {{ recompense.equipeGagnante }}</li>
                <!-- Affichez d'autres détails de la récompense si nécessaire -->
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé pour "{{ searchTerm }}"</p>
    {% endif %}
    <a href="{{ path('app_recompense_index') }}">Retour à la liste des récompenses</a>
{% endblock %}
