{# templates/user/banned.html.twig #}


{% block title %}You are banned
{% endblock %}

{% block body %}
	<h1>You are banned</h1>
	<p>Sorry, but your account has been banned. If you believe this is an error, please contact support.</p>
{% endblock %}
