<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Email envoyé avec succès</title>
	</head>
	<body>
		<h1>Email envoyé avec succès</h1>
		<p>Votre e-mail a été envoyé avec succès.</p>
		<p></p>
	</body>
{{ body }}</p></body></html>
